.fa-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #a7a7a7;
  color: #a7a7a7;
  height: 2.4rem;
  width: 2.4rem;
  @media (min-width: 767px) {
    border: 0.2rem solid #a7a7a7;
    color: #a7a7a7;
    height: 3rem;
    width: 3rem;
  }
}
.linkedIn {
  &::after {
    content: url(../../images/icons/linkedIn.svg);
    position: relative;
    top: 3px;
  }
}
.facebook {
  &::after {
    content: url(../../images/icons/facebook.svg);
    position: relative;
    top: 3px;
  }
}
.instagram {
  &::after {
    content: url(../../images/icons/instagram.svg);
    position: relative;
    top: 3px;
  }
}
.whatsapp {
  &::after {
    content: url(../../images/icons/whatsApp.svg);
    position: relative;
    top: 3px;
  }
}

.txt-clra7 {
  &:hover{
    color: #fff;
  }
}
