.contact-section {
  .container {
    max-width: 940px !important;
    .contact-area {
      box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
      padding: 50px;
      .form-group {
        .form-control {
          height: 60px;
          padding: 20px;
          border: 1px solid #d8b5ff;
        }
      }
    }
  }
  input,
  textarea {
    border-color: #000 !important;
  }
  textarea {
    border-radius: 0px !important;
  }
}

.contact-main {
  min-height: 284.8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .background-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}

.contact {
    .contact-main {
      position: relative;
      .main-text {
        position: absolute;
        bottom: 0rem;
        left: 1rem;
        @media (min-width: 767px) {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          p {
            text-align: center;
          }
        }
        z-index: 10;
      }
      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 1;
      }
    }
    .contect-form {
      position: relative;
      @media (min-width: 767px) {
        top: -150px;
      }
      box-shadow: inset 0 0.75em 1.25em -0.38em rgba(0, 0, 0, 0.15);
      border-color: #202020;
    }
    @media (min-width: 767px) {
      .look {
        position: relative;
        bottom: 75px;
        margin: -48px 0;
      }
    }
    .star {
      color: #e02b27;
    }
  }
