.hero {
  .carousel-cust {
    // @media (min-width: 992px) {
    //   .slider-wrapper {
    //     max-height: 450px !important;
    //     .slider {
    //       max-height: 450px;
    //     }
    //   }
    // }
    // .cover{
    //   @media (min-width: 992px) {
    //     object-fit: cover;
    //     height: 449px;
    //   }
    // }
    // .contain {
    //   @media (min-width: 992px) {
    //     object-fit: contain;
    //     height: 449px;
    //   }
    // }
  //   .image-container {
  //     max-width: 100%; /* Ensures the container does not exceed the width of its parent */
  //     height: auto; /* Allows the height to adjust proportionally with the width */
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  // }
  
  .image-container img {
      max-width: 100%; /* Ensures the image does not exceed the width of its container */
      height: auto; /* Allows the height to adjust proportionally with the width */
  }
    .carousel-status,
    .axis-vertica {
      display: none;
    }
    .main {
      position: relative;
      max-height: 250px;
      @media (min-width: 767px) {
        max-height: 460px;
      }
      img{
        @media (max-width:767px) {
          height: 250px;
        }
      }
      .main-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        width: 100%;
      }
      .overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 60%);
      }
    }
    .control-dots {
      .dot {
        width: 12px;
        height: 12px;
        @media (min-width: 767px) {
          width: 14px;
          height: 14px;
        }
      }
    }
  }

  // sections css 1-6
  .elementor-element-populated {
    height: 280px;
    background-position: center center;
    background-size: cover;
    position: relative;
    @media (min-width: 767px) {
      min-height: 467px;
    }
    @media (min-width: 991px) {
      height: 100%;
    }
  }
  .populated-image1 {
    background-image: url(../../images/claims-background.jpg);
  }
  .populated-image2 {
    background-image: url(../../images/provider-data-management-background.jpg);
  }
  .populated-image3 {
    background-image: url(../../images/configuration-background.jpg);
  }
  .populated-image4 {
    background-image: url(../../images/training-background.jpg);
  }
  .populated-image5 {
    background-image: url(../../images/operational-readiness-background.jpg);
  }
  .populated-image6 {
    background-image: url(../../images/operational-readiness-background.jpg);
  }
  .elementor-background-overlay {
    background-color: #004449;
    opacity: 0.65;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
  }
  .elementor-image-box-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .elementor {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
  .support {
    background-image: url(../../images/black-sand.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 100%;
    .button-wrapper {
      a {
        padding: 4px 16px;
        text-decoration: none;
        width: fit-content;
        border: 1pt solid #d19b2d;
        color: #d19b2d;
        &:hover {
          background-color: #ffffff47;
        }
      }
      svg {
        width: 75px;
        height: auto;
      }
    }
  }
}
